@import "/src/assets/css/main.scss";

.no-departure-length {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $light_grey;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    mat-icon {
        width: 100px;
        height: 100px;
    }
}