@import "/src/assets/css/main.scss";

.entrance-header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 1.3rem;
        color: $dark_blue;
        font-weight: 500;
    }
}

.no-entrance-length {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $light_grey;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    mat-icon {
        width: 100px;
        height: 100px;
    }
}