<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="panel-descrition">
                <h3>R$:</h3>
                <p>{{value}} - {{day}}</p>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-body">
        <div class="export-button">
            <div class="button">
                <app-pdf-button></app-pdf-button>
            </div>
            <div class="button">
                <app-excel-button></app-excel-button>
            </div>
        </div>
        <div class="table">
            <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-table>
        </div>
    </div>
</mat-expansion-panel>