<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="panel-descrition">
                <h3>R$:</h3>
                <p>{{value}} - {{day}}</p>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-body">
        <div class="export-button">
            <div class="button">
                <app-pdf-button></app-pdf-button>
            </div>
            <div class="button">
                <app-excel-button></app-excel-button>
            </div>
        </div>
        <div class="table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="veiculo">
                    <th mat-header-cell *matHeaderCellDef> Veículo </th>
                    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="placa">
                    <th mat-header-cell *matHeaderCellDef> Placa </th>
                    <td mat-cell *matCellDef="let element"> {{element.sign}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="entrada">
                    <th mat-header-cell *matHeaderCellDef> Entrada </th>
                    <td mat-cell *matCellDef="let element"> {{element.entrance}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="saida">
                    <th mat-header-cell *matHeaderCellDef> Saída </th>
                    <td mat-cell *matCellDef="let element"> {{element.departure}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>
</mat-expansion-panel>