@import "/src/assets/css/main.scss";

.panel-descrition {
    display: flex;
    align-items: center;

    h3 {
        font-size: 1.3rem;
        color: $background_1;
        font-weight: 500;
        margin: 0;
    }

    p {
        font-size: 1.3rem;
        color: $background_1;
        margin: 0;
    }
}

.export-button {
    display: flex;
    justify-content: end;
    padding: 10px 0px;

    .button {
        margin: 0px 10px;
    }

    .table {
        width: 100%;
    }
}

table {
    width: 100%;
    border-radius: 5px;
    overflow: hidden !important;

    .mat-header-row {
        background: $blue_2;
        height: 40px;

        th {
            color: $background_1;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        }
    }

    .mat-row {
        height: 40px;

        .mat-cell {
            color: $dark_blue;
            font-size: 1rem;
            text-align: center;
        }
    }

    .mat-row:nth-child(even) {
        background-color: $light_grey2;
    }

    .mat-row:nth-child(odd) {
        background-color: $background_1;
    }
}

::ng-deep .mat-expanded {
    background: $blue_2 !important;
}

mat-expansion-panel-header {
    background: $blue_2;
    transition: 0.3s;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

mat-expansion-panel-header:hover {
    background: $blue_1 !important;
}

::ng-deep .mat-expansion-indicator::after {
    color: $background_1;
    width: 5px;
    height: 5px;
}

::ng-deep .mat-expansion-indicator {
    display: flex;
    align-items: center;
}

::ng-deep .mat-expansion-panel-body {
    background: $light_grey;
    height: 400px;
    overflow-y: scroll;
}

::ng-deep .mat-expansion-panel-body::-webkit-scrollbar-track {
    background: $light_grey;
}

::ng-deep .mat-expansion-panel-body::-webkit-scrollbar-thumb {
    border: 3px solid $light_grey;
}

.mat-column-veiculo {
    width: 20%;
}

.mat-column-placa {
    width: 20%;
}

.mat-column-entrada {
    width: 20%;
}

.mat-column-saida {
    width: 20%;
}

.mat-column-valor {
    width: 20%;
}