@import "/src/assets/css/main.scss";

app-dark-card {
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
    }

    mat-divider {
        background: $background_1;
    }

    .card-content {
        display: flex;
        justify-content: space-between;

        .parking-data {
            width: 55%;
            margin-top: 20px;

            .performance {
                display: flex;
                align-items: center;
                margin: 3px 0px;
                flex: 1;

                h3 {
                    margin: 5px 0;
                    font-size: 1.3rem;
                    font-weight: 400;
                }
    
                p {
                    margin: 0 5px;
                    font-size: 1.3rem;
                    font-weight: 300;
                }

            }
        }

        app-light-button  {
            margin-top: 20px;
        }
    }
}