<app-page-header [icon]="'page-dashboard'" [title]="'Dashboard'"></app-page-header>
<section class="content">
    <div class="content-scroll">
        <div class="section-content">
            <app-radial-bar-chart [percent]="77" [label]="'Quantidade de vagas ocupadas este mês'"></app-radial-bar-chart>
            <app-distributed-columns-charts [label]="'Desempenho financeiro nos ultimos 5 meses'"></app-distributed-columns-charts>
        </div>
        <div class="section-content">
            <app-basic-bar-chart [label]="'Previsão de veículos para os próximos 5 meses'"></app-basic-bar-chart>
            <app-simple-donut-chart [label]="'Previsão de lucro para os próximos 5 meses'"></app-simple-donut-chart>
        </div>
    </div>
</section>