@import "/src/assets/css/main.scss";


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-form-field {
    width: 100%;
    height: 100%;
    margin: 2px 0px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
} 

::ng-deep .mat-form-field {
    .mat-input-element {
        color: $dark-blue;
    }
    .mat-form-field-label {
        color: $dark-blue;
    }
    .mat-form-field-underline {
        background-color: $blue_1;
    }
    .mat-form-field-ripple {
        background-color: $blue_1;
    }
    .mat-form-field-required-marker {
        color: $blue_1;
    }
    .mat-input-underline {
        background-color: white;
     }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: $dark_blue;
    }
    .mat-form-field-ripple {
        background-color: $dark_blue;
    }
    .mat-form-field-required-marker {
        color: $dark_blue;
    }
    .mat-input-element {
        color: $dark_blue;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: $invalid;
    }
    .mat-form-field-label {
        color: $invalid;
        .mat-form-field-required-marker {
            color: $invalid;
        }
    }
    .mat-form-field-ripple {
        background-color: $invalid;
    }
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $blue_1 !important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $dark_blue !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: $invalid !important;
    opacity: 0.8!important;
}