@import "/src/assets/css/main.scss";

app-light-card {
    display: block;
    width: 400px !important;
    height: 400px;

    .subtitle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            color: $dark_blue;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}