<main class="app-content" *ngIf="currentUrl !== '/login' && currentUrl !== '/register'">
    <section>
        <app-side-menu></app-side-menu>
    </section>
    <section class="system-content">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>

<!-- In case the route is login or register -->
<section class="system-content system-content--form" *ngIf="currentUrl === '/login' || currentUrl === '/register'">
    <router-outlet></router-outlet>
</section>