<app-dialog-header [title]="'Adicionar carro'"></app-dialog-header>
<mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="form" (ngSubmit)="submit(form)" class="add-sign-form">
    <app-text-input *ngFor="let item of inputs" [label]="item.label" [type]="item.type" [blurEvent]="item.blurEvent" [changeEvent]="item.changeEvent" (blurInput)="getBlurEvent($event)" [controlName]="item.controlName" (keyUpInput)="getKeyUpEvent($event)" (changeInput)="getChangeEvent($event)" [inputMak]="item.inputMak" [controlValidators]="item.validators" [value]="item.value"></app-text-input>
    <app-dark-button [text]="'Adicionar'"></app-dark-button> 
</form>