<div class="card-parking">
    <app-light-card>
        <div class="card-content">
            <div class="card-data">
                <h2 class="light-card-title">{{model}} - {{color}}</h2>
                <mat-divider></mat-divider>
                <div class="parking-data">
                    <div class="sign">
                        <h3>Placa:</h3>
                        <p>{{plate}}</p>
                    </div>
                    <div class="entrance">
                        <h3>Entrada:</h3>
                        <p>{{entrance}}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="button-card">
                    <app-dark-button text="Tirar" (click)="getOut(plate)"></app-dark-button>
                </div>
                <div class="button-card">
                    <app-dark-button text="Cancelar" (click)="cancelEntrance(plate)"></app-dark-button>
                </div>
            </div>
        </div>
    </app-light-card>
</div>